<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Iron Beast</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="hero">

<div>

<img
src="{{ url_for('static', filename='img/logo.png') }}"
style="width:220px; margin-bottom:20px;">

<h1>IRON BEAST</h1>

<p>
Tu tienda fitness especializada en equipamiento,
suplementos y accesorios deportivos.
</p>

<br>

<a href="/inicio" class="btn">
Ingresar a la tienda
</a>

</div>

</div>

</body>
</html>