<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>
Registro
</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div
style="
display:flex;
justify-content:center;
align-items:center;
height:100vh;
">

<form method="POST">

<h2>Crear Cuenta</h2>

<br>

<input
type="text"
name="nombre"
placeholder="Nombre completo"
required>

<br><br>

<input
type="email"
name="correo"
placeholder="Correo electrónico"
required>

<br><br>

<input
type="password"
name="password"
placeholder="Contraseña"
required>

<br><br>

<button class="btn">
Registrarse
</button>

</form>

</div>

</body>
</html>